<%- include("partials/header.ejs") %>
<div class="error-page">
      <h2>!! SYSTEM ALERT: ERROR !!</h2>
    <p><%= message || "An unexpected error occurred. Please try again." %></p>
    <a href="/">Return to Main Page</a>
</div>
</body>